<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48336026-1', 'samdebrule.com');
  ga('send', 'pageview');

</script>
</head>
<body>
		
		
		<!-- Entrepreneurship Essay collection -->
		<div class = "container">
		<div class="row">
			<div class="col-mid-6">
				<div class="essay-list">
					<h1>Startup Life, the human side:</h1>
					<ul>
						<li><%= link_to "Listen To These Startup Experts", 'listen' %>
						<li><%= link_to "How to Find The Right Startup", 'rocketship' %></li>
						<li><%= link_to "Never Settle for A Job That Sucks", 'jobs' %></li>
						<li><%= link_to "An Education That Does Not Suck", 'education' %></li>
						<li><%= link_to "The Startup Soundtrack", 'soundtrack' %></li>
						<li><%= link_to "The Startup Bookshelf", 'bookshelf' %></li>
						<li><%= link_to "The key to perseverance", 'family' %></li>
						<li><%= link_to "Customer Frustation", 'humans' %></li>
						<li><%= link_to "Take a walk today", 'walk' %></li>
						<li><%= link_to "Making yourself happy", 'happiness' %></li>
						<li><%= link_to "Being Different", 'different' %></li>
						<li><%= link_to "Embrace your hobbies", 'hobbies' %></li>
						<li><%= link_to "Quick daily exercise", 'exercise'	%></li>
						<li><%= link_to "Startup Employee Feedback", 'feedback' %></li>
						<li><%= link_to "Building small things", 'building' %></li>
						<li><%= link_to "Startup Doubt", 'doubt' %></li>
						<li><%= link_to "Learning is so damn painful", 'learning' %></li>
						<li><%= link_to "How to quit your job the right way", 'quit' %></li>
						<li><%= link_to "Quitting your job to work at a startup: The questions you'll be asked", 'questions' %> </li>
						<li><%= link_to "My Personal Mission Statement", 'mission' %></li>
						<li><%= link_to "Cut costs and survive after college", 'survive' %></li>
						<li><%= link_to "Take risks when you have no responsibilities", 'risks' %></li>
						<li><%= link_to "Do something that makes you uncomfortable", 'uncomfortable' %></li>
					</ul>
				</div>
			</div>
		</div>
		</div>
</div>





</body>
</html>