<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>

<header class="site-header theme-margin group" role="banner">
</header>
<h1 class="site-title">
	<%= link_to "Sam DeBrule", '/' %>
  <span class="tagline">Entrepreneur in Training. Always Hungry. </span>
</h1>

<%= yield %>


			<!-- tinyletter email -->
        <form style="width:500px; margin: 0 auto 0; padding:3px;text-align:center;" action="https://tinyletter.com/samdebrule" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/samdebrule', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail" style="font-size:21px; color:#acacac">More awesomeness in your inbox</label></p><p><input type="text" style="width:300px; height:50px; font-size:28px; line-height:50px; float:left; display: inline-block; padding-left: 10px;" placeholder="email@domain.com"name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input style="background-color: #378de5;
display: inline-block;
border: 0px;
color: #ffffff;
font-size: 28px;
font-weight: bold;
padding: 6px 24px;
text-decoration: none;
height: 50px;
border-radius: 0px;" type="submit" value="Subscribe" /></form>
         

</body>
</html>
